html{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: #f0f0f0;
    margin: 0;
    height:3000px;
    padding: 0;
}

main {
    position: relative;
    translate: scale(1.0);
    display: flex;
    max-width: 1500px;
    background-color: #fff;
    padding: 50px;
}
.content{
padding-left: 100px;
}
a {
    text-decoration: none;
    color: #3366cc;
    background: none;
}
ul{
    margin : 0;
    list-style-type:none;
}
.header-start{
    display: flex;
    align-items: center;
}
.mv-logo{
    display: flex;
    height: 100%;
    align-items: center;
    min-width: 13.875em;
    margin-left: 200px;
}
.logo-span{
    float: left;
    margin-left: 5px;
}
.logo-wordmark{
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 0;

    vertical-align: middle;
}
.logo-taglink{
    display: block;
    margin: 5px auto 0;
    border: 0;
    vertical-align: middle;
}
.logo-icon{
    display: block;
    float: left;
    border: 0;
    vertical-align: middle;
}

header{
    display: flex;
    position: absolute;
    padding: 0 50px;
    justify-content: space-between;
    top: 0;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    background-color:white;
    height: 50px;
}

.search-button{
    background-color: #f8f9fa;
    color: #202122;
    border-color: #a2a9b1;
    flex-shrink: 0;
    margin: -1px -1px -1px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    min-width: 32px;
    min-height: 32px;
    max-width: 32em;
    margin: 0 0 0 -5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding-right: 11px;
    padding-left: 11px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: none;
    transition-property: background-color,color,border-color,box-shadow;
    transition-duration: .1s;
    cursor: pointer;
}
.input{
    box-sizing: border-box;
    min-height: 32px;
    width: 380px;
    margin: 0 0 0 24px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 4px 8px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.4285714;
}
.head-menu{
margin-left: 24px;
}
h1{
    display: block;
    padding: 0;
    font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
    border-bottom: 1px solid #a2a9b1;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    overflow: hidden;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.left-side-menu{
    max-height: calc(100vh - 16px);
    position: sticky;
    display: block;
    font-size: 1rem;
    top: 100px;
    left: 0px;
}
.search{
margin-left: 30px
}
.registration{
    font-size: 14px;
}
.right-block img{
    display: block;
}
.right-block{
    background-color:#f8f9fa;
    border: 1px solid #a2a9b1;
    padding: 5px;
    height: fit-content;
}
.checkbox{
  background: url("./3.png") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1015px){
    .search{
    display:none;
    }
}
@media screen and (max-width: 700px){
    .registration{
        display: none;
    }
    .logo-icon{
        display: none;
    }
}
